.item1 { 
    grid-area: header;
 }
.item2 {
     grid-area: menu; 
}
.item3 { 
    grid-area: main; 
}
.item4 {
     grid-area: right; 
}
.item5 {
     grid-area: footer; 
}
.grid-container{
display: grid;
grid-template-areas:
'header header header header header header'
'menu  main main main right right'
'menu footer footer footer footer footer'; 
gap: 10px;
background-color: red;
padding: 10px;
color: white;

}
.grid-container >div{
    background-color: blueviolet;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}
